@using Managing_Teacher_Work.Models;
@{
    ViewBag.Title = "ProfileTeacher";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var teacher = (Teacher)ViewBag.teacher;
    var science = (Science)ViewBag.science;
    var activityList = ViewBag.ActivityList;
    var activityId = ViewBag.ActivityId;
}
<script>
    function cancel() {
        if ((document.referrer.toString().indexOf("/listteacher/") != -1)) {
            window.location = "/listteacher/@science.ID";
        } else {
            window.location = "/Home/GetTeacherListByActivity/@activityId";
        }
    }
</script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thông tin giáo viên </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <div class="profile_img">

                        <!-- end of image cropping -->
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="@teacher.Avatar" alt="Avatar" title="Change the avatar">

                            <!-- Cropping modal -->
                            <!-- /.modal -->
                            <!-- Loading state -->
                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                        </div>
                        <!-- end of image cropping -->

                    </div>
                    <h3>@teacher.Name_Teacher</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> Giới tính: @(teacher.Gender=="Nam"?"Nam":"Nữ")
                        </li>
                    </ul>

                    <button class="btn btn-search" style="background-color:orangered; color: white" onclick="cancel();">
                        <span></span><i class="fa fa-undo"></i>&nbsp;Quay lại
                    </button>
                    <br />

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Thông tin cá nhân</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                <div>
                                    <div class="row">
                                        <div class="table-custom">
                                            <table class="table table-responsive table-striped">
                                                <tr>
                                                    <td>Chức Vụ</td>
                                                    <td>@(teacher.Role.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td>Ngày sinh</td>
                                                    <td>@teacher.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td>Địa chỉ</td>
                                                    <td>@(teacher.Address??"")</td>

                                                </tr>
                                                <tr>
                                                    <td>Số điện thoại</td>
                                                    <td>@(teacher.Phone??"")</td>

                                                </tr>
                                                <tr>
                                                    <td>Ngày bắt đầu</td>
                                                    <td>@teacher.CreatedDate</td>
                                                </tr>
                                                <tr>
                                                    <td>Ngày kết thúc</td>
                                                    <td>@teacher.ModifiedDate</td>
                                                </tr>
                                                <tr>
                                                    <td>Đơn vị công tác</td>
                                                    <td>@teacher.Science.Name</td>
                                                </tr>
                                                <tr>
                                                    <td>Hoạt Động Tham Gia</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>STT</td>
                                                    <td>Tên Hoạt Động</td>
                                                    <td>Ngày Tham Gia</td>
                                                </tr>
                                                @{
                                                    if (activityList != null)
                                                    {

                                                        var count = 0;
                                                        foreach (var item in activityList)
                                                        {
                                                            count++;
                                                            <tr>
                                                                <td>@count</td>
                                                                <td>@item.Activity.Title</td>
                                                                <td>@item.Activity.StartDate.ToString("dd/MM/yyyy")</td>
                                                            </tr>
                                                        }
                                                    }

                                                }
                                            </table>
                                        </div>
                                    </div>
                                    <!-- start recent activity -->
                                    <!-- end recent activity -->

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

