@{

    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var transactionList = ViewBag.Transactions;

}
<style>
    .button-delete {
        color: white;
    }
</style>
@{
    var session = (Managing_Teacher_Work.Common.UserLogin)Session[Managing_Teacher_Work.Common.CommonConstants.USER_SESSION];

}
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
    jQuery(document).ready(function () {
        if ($('#hdnSession').val() == 'MEMBER') {
            alert('Bạn không có quyền truy cập vào mục này!');
            window.location = "/Home/";
        }

    });
</script>
<div style="display:none;">
    <input type="hidden" id="hdnSession" value="@session.GroupID" />
</div>
<div class="row">
    <div>
        <label id="lblresult"></label>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh Sách Công Đoàn Viên<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div style="text-align:right">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="Them()"><i class="fa fa-plus-square"></i>&nbsp;Thêm mới</button>
                </div>
                <div>
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                            @TempData["AlertMessage"]
                        </div>
                    }
                </div>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th style="display:none;">Mã</th>
                            <th>Tên Cán Bộ</th>
                            <th>Loại Chi Phí</th>
                            <th>Số Tiền (VND)</th>
                            <th>Ngày Đóng</th>
                            <th>Đã Đóng</th>
                            <th>Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (transactionList != null)
                        {
                            var count = 0;

                            foreach (var item in transactionList)
                            {
                                count++;
                                <tr id="row_@item.ID">
                                    <td>@count</td>
                                    <td><a href="#!" onclick="Sua(this)" data-toggle="modal" data-target="#myModal">@(item.Teacher.Name_Teacher ?? "")</a></td>
                                    <td>@Managing_Teacher_Work.Helpers.EnumHelper.GetEnumDescription((Managing_Teacher_Work.Enums.TransactionType)item.TransactionType)</td>
                                    <td>@item.Amout</td>
                                    <td>@item.CreatedDate</td>
                                    @if (item.IsPaid == true)
                                    {
                                        <td class="text-center green"><i class="fa fa-check" aria-hidden="true"></i></td>
                                    }
                                    else
                                    {
                                        <td class="text-center red"><i class="fa fa-window-close" aria-hidden="true"></i></td>
                                    }
                                    @if (session.GroupID == "ADMIN")
                                    {
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs" onclick="Sua(this)" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit" aria-hidden="true"></i> Sửa </a>
                                            <button href="#" class="btn btn-danger btn-xs" style="color:white;">
                                                <i class="fa fa-trash"></i>
                                                @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID },
                                            new AjaxOptions
                                            {
                                                Confirm = "Bạn có muốn xoá bản ghi này?",
                                                OnComplete = "$('row_" + @item.ID + "').remove()",
                                                HttpMethod = "Delete"
                                            }, new { @class = "button-delete" })
                                            </button>

                                        </td>
                                    }

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


