
@{
    ViewBag.Title = "Activity List";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var session = (Managing_Teacher_Work.Common.UserLogin)Session[Managing_Teacher_Work.Common.CommonConstants.USER_SESSION];
    var List = ViewBag.ActivityList;

}

<script>
    function cancel() {
        if ((document.referrer.toString().indexOf("/Home-ManageStudent/") != -1)) {
            window.location = "/Home-ManageStudent/";
        }
    }
</script>
<div class="row">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation">
            <a href="/Home/" id="home-tab">Tin Tức - Sự Kiện</a>
        </li>
        <li role="presentation" class="">
            <a href="/Home-ManageTeacher/">Danh Sách Công Đoàn Viên</a>
        </li>

        <li role="presentation" class="active">
            <a href="/Home/ActivityList">Hoạt Động Công Đoàn</a>
        </li>
        <li role="presentation">
            <a href="/Home/TotalTransactionView">Thống Kê Chi Phí</a>
        </li>
        @if (session.GroupID == "ADMIN")
        {
            <li role="presentation">
                <a href="/Home/GetTotalTransactionByMonth">Thống Kê Chi Tiết Phí</a>
            </li>
        }

        <li role="presentation">
            <a href="/Extention/">Tiện ích</a>
        </li>
    </ul>
</div>
<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh Sách Hoạt Động</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th style="display:none;">Mã</th>
                                    <th>Tên Hoạt Động</th>
                                    <th>Loại Hoạt Động</th>
                                    <th>Ngày Bắt Đầu</th>
                                    <th>Địa Điểm</th>
                                    <th>Trạng Thái</th>
                                    <th>Danh Sách</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (List != null)
                                {

                                    foreach (var item in List)
                                    {
                                        <tr id="row_@item.ID">
                                            <td style="display:none">@item.ID </td>
                                            <td><a href="/Home/ActivityDetail/@item.ID">@item.Title</a></td>
                                            <td>@Managing_Teacher_Work.Helpers.EnumHelper.GetEnumDescription((Managing_Teacher_Work.Enums.ActivityTypeEnum)item.ActivityType)</td>
                                            <td>@item.StartDate</td>
                                            <td>@item.Address</td>
                                            <td>@Managing_Teacher_Work.Helpers.EnumHelper.GetEnumDescription((Managing_Teacher_Work.Enums.ActivityStatus)item.ActivityStatus)</td>
                                            <td><a href="/Home/GetTeacherListByActivity/@item.ID" class="btn btn-info btn-xs">Danh Sách Tham Gia</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
