@using Managing_Teacher_Work.ViewModels;

@{

    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var session = (Managing_Teacher_Work.Common.UserLogin)Session[Managing_Teacher_Work.Common.CommonConstants.USER_SESSION];
    var listSciense = (List<Managing_Teacher_Work.Models.Science>)ViewBag.listSciense;
    var listCW = (List<CalendarWorkingViewModel>)ViewBag.listCW;
    var permission = session.GroupID;
}


<div class="row">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="/Home/" id="home-tab">Tin Tức - Sự Kiện</a>
        </li>

        <li role="presentation" class="">
            <a href="/Home-ManageTeacher/">Danh Sách Công Đoàn Viên</a>
        </li>

        <li role="presentation">
            <a href="/Home/ActivityList">Hoạt Động Công Đoàn</a>
        </li>
        <li role="presentation">
            <a href="/Home/TotalTransactionView">Thống Kê Chi Phí</a>
        </li>
        @if (session.GroupID == "ADMIN")
        {
            <li role="presentation">
                <a href="/Home/GetTotalTransactionByMonth">Thống Kê Chi Tiết Phí</a>
            </li>
        }
        <li role="presentation">
            <a href="/Extention/">Tiện ích</a>
        </li>
        <li role="presentation">
            <a href="/Home-ManageNote/">Ghi Chú Công Việc</a>
        </li>
    </ul>
</div>
<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tin Tức - Sự Kiện</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable-buttons" class="table table-striped jambo_table bulk_action table-responsive">
                            <thead>
                                <tr style="width:100%">
                                    <th style="width:65%">Công việc</th>
                                    <th style="width:10%">Ngày bắt đầu</th>
                                    <th style="width:10%">Ngày kết thúc</th>
                                    <th style="width:15%">Cán Bộ Phụ Trách</th>
                                    <th style="width:5%">Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listCW)
                                {
                                    <tr>

                                        <td><a href="/Calendar-Working-Detail/@item.ID">@(item.Name_CalendarWorking ?? "")</a></td>

                                        @if (item.DateStart != null)
                                        {
                                            <td>
                                                @(item.DateStart.ToString("dd/MM/yyyy"))
                                            </td>
                                        }
                                        else
                                        {
                                            <td><p>Không có</p></td>
                                        }

                                        @if (item.DateEnd != null)
                                        {
                                            <td>@(item.DateEnd.ToString("dd/MM/yyyy"))</td>
                                        }
                                        else
                                        {
                                            <td><p>Không có</p></td>
                                        }
                                        <td>@item.Teacher_Name</td>
                                        <td>@Managing_Teacher_Work.Helpers.EnumHelper.GetEnumDescription((Managing_Teacher_Work.Enums.ActivityStatus)item.WorkState)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>