@using Managing_Teacher_Work.Models;
@{
    ViewBag.Title = "ListTeacher";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var listTeacher = (List<Teacher>)ViewBag.listTeacher;
    var science = (Science)ViewBag.science;
    var session = (Managing_Teacher_Work.Common.UserLogin)Session[Managing_Teacher_Work.Common.CommonConstants.USER_SESSION];

}
<script>
    function cancel() {
            window.location = "/Home-ManageTeacher/";
    }
</script>
<div class="row">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation">
            <a href="/Home/" id="home-tab">Tin Tức - Sự Kiện</a>
        </li>
        <li role="presentation" class="active" id="bt">
            <a href="/Home-ManageTeacher/">Danh Sách Công Đoàn Viên</a>
        </li>

        <li role="presentation">
            <a href="/Home/ActivityList">Hoạt Động Công Đoàn</a>
        </li>
        <li role="presentation">
            <a href="/Home/TotalTransactionView">Thống Kê Chi Phí</a>
        </li>
        @if (session.GroupID == "ADMIN")
        {
            <li role="presentation">
                <a href="/Home/GetTotalTransactionByMonth">Thống Kê Chi Tiết Phí</a>
            </li>
        }

        <li role="presentation">
            <a href="/Extention/">Tiện ích</a>
        </li>
        <li role="presentation">
            <a href="/Home-ManageNote/">Ghi Chú Công Việc</a>
        </li>
    </ul>
</div>

<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh Sách Công Đoàn Viên thuộc bộ môn @science.Name</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable-buttons" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>Tên Cán Bộ</th>
                                    <th>Giới tính </th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Chức Vụ</th>
                                    <th>Ngày Bắt Đầu</th>
                                    <th>Ngày Kết Thúc</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listTeacher)
                                {
                                    <tr>

                                        <td><a href="/Profile-Teacher/@item.ID">@(item.Name_Teacher ?? "")</a></td>
                                        @if (item.Gender == "Nam")
                                        {
                                            <td>Nam</td>
                                        }
                                        else
                                        {
                                            <td>Nữ</td>
                                        }
                                        <td>@(item.Address ?? "")</td>
                                        @if (item.DateOfBirth != null)
                                        {
                                            <td>
                                                @(item.DateOfBirth.ToString("dd/MM/yyyy"))
                                            </td>
                                        }
                                        else
                                        {
                                            <td><p>Không có</p></td>
                                        }
                                        <td>@item.Phone</td>
                                        <td>@item.Role.Name</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@item.ModifiedDate</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="input" style="text-align: center;">

                        <button class="btn btn-search" style="background-color:orangered; color: white" onclick="cancel();">
                            <span></span><i class="fa fa-undo"></i>&nbsp;Quay lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
